@charset "UTF-8";

/*-----------------------------------------------------------
div
------------------------------------------------------------*/

div {
    text-align: left;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/*-----------------------------------------------------------
clearfix
------------------------------------------------------------*/

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
    line-height: 0;
}

.clearfix {
    display: inline-block;
}


/* exlude MacIE5 \*/

* html .clearfix {
    height: 1%
}

.clearfix {
    display: block;
}

.flexBox {
    display: flex;
}

.flexBox--center {
    align-items: center;
}

.flexBox--bottom {
    align-items: flex-end;
}

.flexBox--between {
    justify-content: space-between;
}

.flexBox--arround {
    justify-content: space-around;
}

.flexBox--start {
    justify-content: flex-start;
}

.flexBox--wrap {
    flex-wrap: wrap;
}


/* end MacIE5 */


/*-----------------------------------------------------------
reset
------------------------------------------------------------*/

img {
    margin: 0;
    padding: 0;
    vertical-align: bottom;
    border: 0;
    line-height: 1;
    max-width: 100%;
}

table img {
    margin: 0;
    padding: 0;
    vertical-align: bottom;
    border: 0;
}

p {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

input,
textarea {
    margin: 0;
    font-size: 100%;
    resize: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 100%;
}

dl,
dt,
dd,
th,
td {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}


/*-----------------------------------------------------------
Link
------------------------------------------------------------*/

a:link {
    color: #444;
    text-decoration: none;
}

a:visited {
    color: #444;
    text-decoration: none;
}

a:hover {
    color: #aaa;
    text-decoration: none;
    -moz-transition: all 0.26s ease-out;
    -o-transition: all 0.26s ease-out;
    -webkit-transition: all 0.26s ease-out;
    -ms-transition: all 0.26s ease-out;
}

a:active {
    color: #64AB18;
    text-decoration: none;
}


/*-----------------------------------------------------------
FONT Weight
------------------------------------------------------------*/

.fwB {
    font-weight: bold;
}


/*-----------------------------------------------------------
FONT Size
------------------------------------------------------------*/


/*-----------------------------------------------------------
FLOAT
------------------------------------------------------------*/

.floatL {
    float: left;
    display: inline-block;
}

.floatR {
    float: right;
    display: inline-block;
}


/*-----------------------------------------------------------
Text-Align
------------------------------------------------------------*/

.taL {
    text-align: left;
}

.taC {
    text-align: center;
}

.taR {
    text-align: right;
}


/*-----------------------------------------------------------
PAGE BOOT
------------------------------------------------------------*/

.imgMax {
    width: 100%;
}

.maxW {
    max-width: 1130px;
    padding: 0 15px;
    margin: 0 auto;
}


/*-----------------------------------------------------------
Body
-------------------------------------------------------------*/

body {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    height: 100%;
    word-wrap: break-word;
}


/*-----------------------------------------------------------
Header
-------------------------------------------------------------*/

.headBar {
    background: #4d4d4d;
    padding: 5px 0;
}

.headBar .inner {
    max-width: 1100px;
    margin: 0 auto;
}

.headBar .inner i {
    color: #ff5534;
    margin-right: 5px;
}

.headBar .infoShop {
    color: #fff;
    font-weight: 500;
    font-size: 15px;
}

.headBar .infoShop li {
    display: inline-block;
    position: relative;
    padding-left: 20px;
    font-size: 12px;
    font-weight: 400;
}

.headBar .infoShop li:first-child {
    padding-left: 0;
}

.headBar .infoShop li:first-child::before {
    content: '';
}

#logo img {
    height: 90px;
    line-height: 1;
    vertical-align: bottom;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
}

#header {
    width: 100%;
    z-index: 900;
    background: #1f2730;
    position: relative;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
}

.scroller {
    background: #fff;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
}

.scroller .headerInner {
    box-shadow: none;
}

.scroller #logo img {
    height: 80px;
}

.headerInner {
    max-width: 1100px;
    margin: 0 auto;
    padding: 15px 0;
    background: #1f2730;
}

.wrapMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 850;
    background: #fff;
    display: none;
}

.naviWrap {
    background: #0752ae;
}

.gNavi {
    max-width: 1100px;
    margin: 0 auto;
}

.gNavi>li {
    position: relative;
}

.wrapList {
    background: #1f2730;
    position: fixed;
    top: 198px;
    left: 0;
    width: 100%;
    padding: 30px 0;
    display: none;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}

.wrapList.hover {
    display: block;
}

.gNavi>li .subNavi {
    max-width: 1100px;
    margin: 0 auto;
}

.gNavi>li .subNavi li {
    padding: 10px;
    width: 33.33%;
}

.gNavi>li .subNavi li+.gNavi>li .subNavi li {
    margin-top: 15px;
}

.gNavi>li .subNavi li img {
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

.gNavi>li .subNavi li .name {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    color: #fff;
}

.gNavi>li .subNavi li a {
    color: #ff5534;
    font-size: 13px;
}

.gNavi>li>a {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    display: block;
    padding: 12px 15px;
    position: relative;
    overflow: hidden;
    font-weight: 500;
}

.gNavi>li>a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: -100%;
    background: #ff5534;
    width: 100%;
    height: 3px;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
}

.gNavi>li>a:hover {
    color: #ff5534;
}

.gNavi>li>a:hover::before {
    left: 0;
}

.linkCart {
    color: #fff !important;
    font-weight: 500;
}

.langBar {
    position: relative;
}

.langBar li {
    display: inline-block;
    padding: 0 10px;
    border-left: 1px solid #fff;
    text-transform: uppercase;
    line-height: 1;
}

.langBar li a {
    color: #fff;
    font-size: 13px;
}

.langBar li.active a {
    color: #ff5534 !important;
}

.langBar li:first-child {
    border: none;
}

.contactHead .p1 {
    margin-right: 30px;
}

.contactHead .p1 span {
    display: block;
    font-size: 12px;
    color: #58595b;
    margin-left: 20px;
}

.contactHead .p1 em {
    font-style: normal;
    color: #00386b;
    font-size: 25px;
    display: inline-block;
    vertical-align: middle;
    font-weight: 600;
    line-height: 1.1;
}

.contactHead .p1 i {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    font-size: 20px;
    color: #00386b;
}

.contactHead .p3 {
    display: inline-block;
    color: #fff;
    background: #d61e36;
    font-weight: 600;
    border-radius: 40px;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
}

.contactHead .p3 i {
    margin-right: 20px;
}

#breadcum {
    max-width: 1130px;
    padding: 20px 15px;
    margin: 0 auto 50px;
}

#breadcum ul li {
    display: inline-block;
    font-size: 13px;
    border-left: 1px solid #939598;
    padding: 0 15px;
    line-height: 1;
}

#breadcum ul li:first-child {
    padding-left: 0;
    border: none;
}

#breadcum ul li a {
    color: #d61e36;
}

.formSearch {
    width: 70%;
}

.wrapSearch {
    position: relative;
}

.headHotline {
    color: #fff;
    font-size: 35px;
}

.headHotline i {
    color: #ff5534;
    margin-right: 5px;
}

.wrapSearch input[type='text'] {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #e6e6e6;
    height: 40px;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}

.wrapSearch ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #fff;
}

.wrapSearch ::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
}

.wrapSearch :-ms-input-placeholder {
    /* IE 10+ */
    color: #fff;
}

.wrapSearch :-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
}

.submitBtn {
    border: none;
    background: transparent;
    font-size: 30px;
    color: #fff;
    position: absolute;
    right: 0;
    top: 0;
}

.submitBtn img {
    width: 30px;
    height: 30px;
}

.closeSearch {
    position: absolute;
    top: 30px;
    right: 50px;
}

.rightHead {
    width: 82%;
}

.break {
    margin: 40px 0;
    display: inline-block;
}

.break li {
    float: left;
    padding: 0 10px;
    position: relative;
    font-size: 12px;
}

.break li::before {
    content: '/';
    position: absolute;
    top: 0;
    left: 0;
}

.break li:first-child {
    padding-left: 0;
}

.break li:first-child::before {
    content: '';
}

.wp-pagenavi {
    clear: both;
    text-align: center;
    margin-top: 60px;
}

.wp-pagenavi a,
.wp-pagenavi span {
    text-decoration: none;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
    line-height: 26px;
    margin: 0 5px;
}

.wp-pagenavi a:hover,
.wp-pagenavi span.current {
    background: #ff5534;
    color: #000 !important;
}

.wp-pagenavi span.current {
    font-weight: bold;
    color: #000;
}


/*-----------------------------------------------------------
 Container/Maincontent
------------------------------------------------------------*/

div.container {
    max-width: 1130px;
    padding: 0 15px;
    margin: 0 auto;
}


/*-----------------------------------------------------------
SubNavi
------------------------------------------------------------*/

#subNavi {
    width: 300px;
    float: left;
}


/*-----------------------------------------------------------
Footer
------------------------------------------------------------*/

#footer {
    width: 100%;
    background: #1f2730;
    margin-top: 50px;
}

#footer .inner {
    max-width: 1130px;
    margin: 0 auto;
    padding: 40px 15px 40px;
}

#footer h3 {
    font-size: 20px;
    color: #ff5534;
    margin-bottom: 10px;
}

.h3_foot--small {
    font-size: 14px !important;
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.logoFoot {
    width: 25%;
}

.logoFoot img {
    height: 120px;
    margin-bottom: 10px;
}

.rightFoot {
    width: 50%;
}

.lstLocate {
    text-align: right;
}

.lstLocate li {
    margin-bottom: 15px;
    color: #fff;
}

.lstLocate li a {
    color: #fff;
    text-decoration: underline;
}

.lstLocate li i {
    color: #ff5534;
    margin-right: 5px;
}

.lstInfo {
    display: flex;
    justify-content: flex-end;
}

.lstInfo li {
    margin-bottom: 15px;
    padding: 0 10px
}

.lstInfo li a {
    color: #fff;
}

.lstInfo li i {
    color: #ff5534;
    margin-right: 5px;
}

.lstLocate li .title {
    font-weight: 500;
    margin-bottom: 10px;
}

.lstLocate li .address {}

.iconSocial {
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: middle;
}

.iconSocial li {
    display: inline-block;
    margin: 0 5px;
}

.iconSocial li:last-child {
    margin-right: 0;
}

.iconSocial li a {
    color: #fff;
    font-size: 16px;
}

.copyright {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Lalezar', cursive;
    padding: 15px 0 0;
}

.followText {
    font-family: 'Lalezar', cursive;
}

.copyright span {
    color: #ff5534;
}

.alignBot {
    align-self: flex-end;
}

.rightFoot {
    text-align: right;
}

.h4_footer {
    font-size: 22px;
    color: #fff;
    margin-bottom: 30px;
    margin-top: 70px;
}

#footerWrap .inputText {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, .3);
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    width: 45%;
    line-height: 40px;
    outline: none;
}

#footerWrap textarea {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, .3);
    height: 200px;
    color: #fff;
    padding: 5px 0;
    width: 100%;
    outline: none;
    margin-top: 20px;
}

.submitForm {
    display: block;
    border: none;
    background: #006dfe;
    font-size: 14px;
    text-align: center;
    color: #fff;
    width: 100%;
    padding: 10px 0;
    margin-top: 20px;
}

.txtFoot {
    font-size: 12px;
    color: #fff;
    opacity: .3;
}

.icon_footer {
    height: 36px;
}

.chargeBox {
    color: #fff;
    font-size: 12px;
    margin-top: 50px;
}

#pageTop {
    position: fixed;
    right: 1%;
    bottom: 50px;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
}

.pc {
    display: block;
}

.sp {
    display: none;
}

.logo_footer {
    height: 54px;
}

.footerMenu li {
    display: inline-block;
    padding: 0 10px;
}

.footerMenu li a {
    color: #fff;
}

.footerInner .h4_footer {
    margin: 0;
}

.wp-pagenavi {
    clear: both;
    text-align: center;
}

.wp-pagenavi a,
.wp-pagenavi span {
    text-decoration: none;
    border: 1px solid #BFBFBF;
    padding: 5px 5px;
    margin: 2px 5px;
}

.wp-pagenavi a:hover,
.wp-pagenavi span.current {
    border-color: #aaa;
}

.wp-pagenavi span.current {
    font-weight: bold;
    color: #fff !important;
    border: 1px solid #ff5534 !important;
}

@media only screen and (min-width: 861px) and (max-width: 1072px) {
    .gNavi li a {
        padding: 30px 10px;
        font-size: 12px;
    }
    #logo img {
        height: 45px;
    }
    .btnContact {
        padding: 25px;
        font-size: 13px;
    }
    .headHotline {
        font-size: 25px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 860px) {
    #logo img {
        height: 40px;
    }
    .gNavi li a {
        padding: 25px 8px;
        font-size: 11px;
    }
    .btnContact {
        padding: 25px 20px;
        font-size: 13px;
    }
    .headHotline {
        font-size: 20px;
    }
}

@media only screen and (max-width: 767px) {
    .pc,
    .onlypc {
        display: none !important;
    }
    .sp {
        display: block !important;
    }
    #logo img {
        height: 50px !important;
        ;
    }
    .subMenu {
        position: fixed;
        width: 100%;
        top: 80px;
        height: calc(100vh - 80px);
        overflow-y: auto !important;
        left: 0;
        background: #333333;
        z-index: 999;
        display: none;
        -moz-transition: all 0.4s ease-out;
        -o-transition: all 0.4s ease-out;
        -webkit-transition: all 0.4s ease-out;
        -ms-transition: all 0.4s ease-out;
        transition: all 0.4s ease-out;
    }
    .menuList {
        padding: 0 15px;
    }
    .menuList li {
        padding: 20px 0;
        border-bottom: 1px solid #999;
    }
    .menuList li a {
        color: #fff;
    }
    .langBar {
        margin-top: 20px;
    }
    .langBar li a {
        color: #999;
    }
    .langBar li.active a {
        color: #fff;
    }
    .btnContact_sp img {
        line-height: 1;
        vertical-align: bottom;
    }
    .infoSp {
        color: #999999;
        font-size: 12px;
        padding: 0 15px;
        margin-top: 70px;
    }
    .infoSp i {
        margin-right: 10px;
    }
    .fa-clock-o {
        margin-left: 30px;
    }
    .callSP {
        display: inline-block;
        width: 50px;
        height: 50px;
        background: #0752ae;
        color: #fff !important;
        text-align: center;
        line-height: 50px;
        font-size: 25px;
        vertical-align: middle;
        margin-right: -2px;
    }
}